<!DOCTYPE html>
<html >
    <body>

		<section id="page-title" class="page-title-mini">

			<div class="container clearfix">
				<h1>OUR FOCUS</h1>
				<span>Everything you need to know about our Company</span>
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="#">Home</a></li>
					<li class="breadcrumb-item"><a href="#">Our Focus</a></li>
				</ol>
			</div>

		</section>	

		<!-- <div class="fancy-title title-center title-dotted-border topmargin-sm">
			<h3>Flip Card Carousel</h3>
		</div> -->

		<section id="content" style="margin-bottom: 0px;">
			<div class="content-wrap">
				<div class="container clearfix">

					<div class="row grid-container" data-layout="masonry" style="overflow: visible; position: relative; height: 529px;">

						<div class="col-lg-4 mb-4" style="position: absolute; left: 390px; top: 0px;">
							<div class="flip-card text-center top-to-bottom">
								<div class="flip-card-front bg-info dark dark" style="background-image: url('demos/business/images/featured/2.jpg');">
									<div class="flip-card-inner">
										<div class="card nobg noborder text-center">
											<div class="card-body">
												<h3 class="card-title">DEVOPS</h3>
												<!-- <p class="card-text t400">With supporting text below as a natural lead-in to additional content.</p> -->
											</div>
										</div>
									</div>
								</div>
								<div class="flip-card-back bg-transparent" style="background-image: url('assets\images\tech\devops.png');">
							
								</div>
							</div>
						</div>

						<div class="col-lg-4 mb-4" style="position: absolute; left: 390px; top: 0px;">
							<div class="flip-card text-center top-to-bottom">
								<div class="flip-card-front dark" style="background-image: url('demos/business/images/featured/2.jpg');">
									<div class="flip-card-inner">
										<div class="card nobg noborder text-center">
											<div class="card-body">
												<h3 class="card-title">NETWORKIG</h3>
												<!-- <p class="card-text t400">With supporting text below as a natural lead-in to additional content.</p> -->
											</div>
										</div>
									</div>
								</div>
								<div class="flip-card-back  bg-transparent" style="background-image: url('assets\images\tech\networking.jpg');">
									
								</div>
							</div>
						</div>

						<div class="col-lg-4 mb-4" style="position: absolute; left: 390px; top: 0px;">
							<div class="flip-card text-center top-to-bottom">
								<div class="flip-card-front bg-info dark dark">
									<div class="flip-card-inner">
										<div class="card nobg noborder text-center">
											<div class="card-body">
												<h3 class="card-title">JAVA</h3>
												<!-- <p class="card-text t400">With supporting text below as a natural lead-in to additional content.</p> -->
											</div>
										</div>
									</div>
								</div>
								<div class="flip-card-back bg-transparent" style="background-color: red;">
							
								</div>
							</div>
						</div>

						<div class="col-lg-4 mb-4" style="position: absolute; left: 0px; top: 0px;">
							<div class="flip-card text-center">
								<div class="flip-card-front dark" style="background-image: url('demos/business/images/featured/1.jpg')">
									<div class="flip-card-inner">
										<div class="card nobg noborder text-center">
											<div class="card-body">
												<h3 class="card-title">CLOUD</h3>
												<!-- <p class="card-text t400">With supporting text below as a natural lead-in to additional content.</p> -->
											</div>
										</div>
									</div>
								</div>
								<div class="flip-card-back bg-transparent" style="background-image: url('assets\images\tech\cloud.png');">
									
								</div>
							</div>
						</div>

						<div class="col-lg-4 mb-4" style="position: absolute; left: 0px; top: 0px;">
							<div class="flip-card text-center">
								<div class="flip-card-front bg-info dark dark" style="background-image: url('demos/business/images/featured/1.jpg')">
									<div class="flip-card-inner">
										<div class="card nobg noborder text-center">
											<div class="card-body">
												<h3 class="card-title">SAP</h3>
												<!-- <p class="card-text t400">With supporting text below as a natural lead-in to additional content.</p> -->
											</div>
										</div>
									</div>
								</div>
								<div class="flip-card-back bg-transparent" style="background-image: url('assets\images\tech\sap.png');">
									
								</div>
							</div>
						</div>

						<div class="col-lg-4 mb-4" style="position: absolute; left: 0px; top: 0px;">
							<div class="flip-card text-center">
								<div class="flip-card-front dark" style="background-image: url('demos/business/images/featured/1.jpg')">
									<div class="flip-card-inner">
										<div class="card nobg noborder text-center">
											<div class="card-body">

												<h3 class="card-title">UI</h3>
												<!-- <p class="card-text t400">With supporting text below as a natural lead-in to additional content.</p> -->
											</div>
										</div>
									</div>
								</div>
								<div class="flip-card-back bg-transparent" style="background-image: url('assets\images\tech\ui.jpg');">
									
								</div>
							</div>
						</div>

						<div class="col-lg-4 mb-4" style="position: absolute; left: 0px; top: 0px;">
							<div class="flip-card text-center">
								<div class="flip-card-front bg-info dark dark" style="background-image: url('demos/business/images/featured/1.jpg')">
									<div class="flip-card-inner">
										<div class="card nobg noborder text-center">
											<div class="card-body">
												<h3 class="card-title">TIBCO</h3>
												<!-- <p class="card-text t400">With supporting text below as a natural lead-in to additional content.</p> -->
											</div>
										</div>
									</div>
								</div>
								<div class="flip-card-back bg-transparent" style="background-image: url('assets\images\tech\tibco.png');">
									
								</div>
							</div>
						</div>

						<div class="col-lg-4 mb-4" style="position: absolute; left: 0px; top: 0px;">
							<div class="flip-card text-center">
								<div class="flip-card-front dark" style="background-image: url('demos/business/images/featured/1.jpg')">
									<div class="flip-card-inner">
										<div class="card nobg noborder text-center">
											<div class="card-body">
												<h3 class="card-title">UNIX/LINUX</h3>
												<!-- <p class="card-text t400">With supporting text below as a natural lead-in to additional content.</p> -->
											</div>
										</div>
									</div>
								</div>
								<div class="flip-card-back bg-transparent" style="background-image: url('assets\images\tech\linux.png');">
									
								</div>
							</div>
						</div>

						<div class="col-lg-4 mb-4" style="position: absolute; left: 0px; top: 0px;">
							<div class="flip-card text-center">
								<div class="flip-card-front bg-info dark dark" style="background-image: url('demos/business/images/featured/1.jpg')">
									<div class="flip-card-inner">
										<div class="card nobg noborder text-center">
											<div class="card-body">
												<h3 class="card-title">DATABASE</h3>
												<!-- <p class="card-text t400">With supporting text below as a natural lead-in to additional content.</p> -->
											</div>
										</div>
									</div>
								</div>
								<div class="flip-card-back bg-transparent" style="background-image: url('assets\images\tech\database.jpg');">
									
								</div>
							</div>
						</div>

						<div class="col-lg-4 mb-4" style="position: absolute; left: 0px; top: 0px;">
							<div class="flip-card text-center">
								<div class="flip-card-front dark" style="background-image: url('demos/business/images/featured/1.jpg')">
									<div class="flip-card-inner">
										<div class="card nobg noborder text-center">
											<div class="card-body">
												<h3 class="card-title">MULESOFT</h3>
												<!-- <p class="card-text t400">With supporting text below as a natural lead-in to additional content.</p> -->
											</div>
										</div>
									</div>
								</div>
								<div class="flip-card-back bg-transparent" style="background-image: url('assets\images\tech\mulesoft.png');">
									
								</div>
							</div>
						</div>

						<div class="col-lg-4 mb-4" style="position: absolute; left: 0px; top: 0px;">
							<div class="flip-card text-center">
								<div class="flip-card-front bg-info dark dark" style="background-image: url('demos/business/images/featured/1.jpg')">
									<div class="flip-card-inner">
										<div class="card nobg noborder text-center">
											<div class="card-body">
												<h3 class="card-title">BIGDATA</h3>
												<!-- <p class="card-text t400">With supporting text below as a natural lead-in to additional content.</p> -->
											</div>
										</div>
									</div>
								</div>
								<div class="flip-card-back bg-transparent" style="background-image: url('assets\images\tech\bigdata.jpg');">
									
								</div>
							</div>
						</div>

						<div class="col-lg-4 mb-4" style="position: absolute; left: 0px; top: 0px;">
							<div class="flip-card text-center">
								<div class="flip-card-front dark" style="background-image: url('demos/business/images/featured/1.jpg')">
									<div class="flip-card-inner">
										<div class="card nobg noborder text-center">
											<div class="card-body">
												<h3 class="card-title">MACHINE LEARNING</h3>
												<!-- <p class="card-text t400">With supporting text below as a natural lead-in to additional content.</p> -->
											</div>
										</div>
									</div>
								</div>
								<div class="flip-card-back bg-transparent" style="background-image: url('assets\images\tech\machine.jpg');">
									
								</div>
							</div>
						</div>

						<div class="col-lg-4 mb-4" style="position: absolute; left: 0px; top: 0px;">
							<div class="flip-card text-center">
								<div class="flip-card-front bg-info dark dark" style="background-image: url('demos/business/images/featured/1.jpg')">
									<div class="flip-card-inner">
										<div class="card nobg noborder text-center">
											<div class="card-body">
												<h3 class="card-title">DATA SCIENCE</h3>
												<!-- <p class="card-text t400">With supporting text below as a natural lead-in to additional content.</p> -->
											</div>
										</div>
									</div>
								</div>
								<div class="flip-card-back bg-transparent" style="background-image: url('assets\images\tch\datascience.jpeg');">
									
								</div>
							</div>
						</div>

						<div class="col-lg-4 mb-4" style="position: absolute; left: 0px; top: 0px;">
							<div class="flip-card text-center">
								<div class="flip-card-front dark" style="background-image: url('demos/business/images/featured/1.jpg')">
									<div class="flip-card-inner">
										<div class="card nobg noborder text-center">
											<div class="card-body">
												<h3 class="card-title">SALESFORCE</h3>
												<!-- <p class="card-text t400">With supporting text below as a natural lead-in to additional content.</p> -->
											</div>
										</div>
									</div>
								</div>
								<div class="flip-card-back bg-transparent" style="background-image: url('assets\images\tech\salseforce.jpg');">
									
								</div>
							</div>
						</div>

						<div class="col-lg-4 mb-4" style="position: absolute; left: 0px; top: 0px;">
							<div class="flip-card text-center">
								<div class="flip-card-front bg-info dark dark" style="background-image: url('demos/business/images/featured/1.jpg')">
									<div class="flip-card-inner">
										<div class="card nobg noborder text-center">
											<div class="card-body">
												<h3 class="card-title">QA/BA</h3>
												<!-- <p class="card-text t400">With supporting text below as a natural lead-in to additional content.</p> -->
											</div>
										</div>
									</div>
								</div>
								<div class="flip-card-back bg-transparent" style="background-image: url('assets\images\tech\qa.jpeg');">
									
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</section>

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

	<!-- External JavaScripts
	============================================= -->
	<script src="js/jquery.js"></script>
	<script src="js/plugins.js"></script>

	<!-- Footer Scripts
	============================================= -->
	<script src="js/functions.js"></script>

</body>
</html>