<!DOCTYPE html>
<html >
    <body>

        <section id="page-title" class="page-title-mini">

            <div class="container clearfix">
                <h1>JOB OPENINGS</h1>
                <span>Everything you need to know about our Company</span>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Careers</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Job Openings</li>
                </ol>
            </div>

        </section>

        <section id="content">
            <div class="content-wrap">
                
                <div class="container clearfix">
                    <div class="row">
                        <div class="col-md-12">
                          <?php
                                echo  "<span>*  To apply for any of the position, forward your profile to info@cloudfen.com</span>" ;
                            ?>
                            
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Java/ React Developer</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">Full Time</h6>
                                    <p class="card-text">Atlanta - GA&nbsp;
                                        Posted 1 day ago
                                    </p>
                                    <button type="button" class="btn btn-secondary btn-lg btn-block" data-toggle="modal"
                                        data-target="#exampleModal7">
                                        Job Description
                                    </button>
                                    <div class="modal fade" id="exampleModal7" tabindex="-1" role="dialog"
                                        aria-labelledby="exampleModalLabel7" aria-hidden="true">
                                        <div class="modal-dialog modal-xl" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel7">Job Description</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="container-fluid">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <ul>
                                                                    <li>Should have around 8+ yrs of development exp</li>
                                                                    <li>Strong knowledge on React Js, Angular</li>
                                                                    <li>Should have good knowledge on Oracle PL/SQl</li>
                                                                    <li>Good to have knowledge on Python</li>
                                                                    <li>JavaEE development, Spring</li>
                                                                    <li>JavaEE app server, especially Tomcat</li>
                                                                    <li>JMS, MQSeries</li>
                                                                    <li>DB2, Oracle</li>
                                                                    <li>Linux, *NIX based OS</li>
                                                                    <li>HTML 5, CSS3, Javascript frameworks</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-dismiss="modal">Close</button>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">UI / MEAN STACK Developer</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">Full Time</h6>
                                    <p class="card-text">Atlanta - GA&nbsp;
                                        Posted 1 day ago
                                    </p>
                                    <button type="button" class="btn btn-secondary btn-lg btn-block" data-toggle="modal"
                                        data-target="#exampleModal8">
                                        Job Description
                                    </button>
                                    <div class="modal fade" id="exampleModal8" tabindex="-1" role="dialog"
                                        aria-labelledby="exampleModalLabel8" aria-hidden="true">
                                        <div class="modal-dialog modal-xl" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel8">Job Description</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="container-fluid">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <ul>
                                                                    <li>Must have experience in Node.js, Java, Springboot, Kafka, Openshift, Express.js, Protactor, Mongo DB, Architecture, Design</li>
                                                                    <li>MEAN Stack Developer with good hands-on experience in Advance Scripting stack i.e. JavaScript, JQuery, Express JS, Bootstrap JS, Angular JS, Node JS, NPM, JSON, Ajax, RESTful API, Web/Application Servers, Database application layers with noted databases i.e. Mango DB etc
                                                                    </li>
                                                                    <li>MEAN Stack Developer with good hands-on experience in Advance Scripting stack i.e. JavaScript, JQuery, Express JS, Bootstrap JS, Angular JS, Node JS, NPM, JSON, Ajax, RESTful API, Web/Application Servers, Database application layers with noted databases i.e. Mango DB etc.</li>
                                                                    <li>Experience in using REST API specification tools to document i.e. Swagger.</li>
                                                                    <li>Good Hand-on experience with code repository tools such as JIIRA, GIT, etc.</li>
                                                                    <li>Good hands-on experience using JavaScript code quality tool ES Lint.</li>
                                                                    <li>Experience in writing Angular unit test cases (Jasmine), Node JS unit test cases (Mocha) to write unit test cases.</li>
                                                                    <li>Excellent communications skills both verbal and written.</li>
                                                                    <li>Experience in handling global teams.</li>
                                                                    <li>Have experience in sprint based Agile Methodology.</li>
                                                                    <li>Experience in tools like: Jira, Swagger, Jenkins, Dockers.</li>
                                                                    <li>All development and testing’ have exposure to AWS cloud.</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-dismiss="modal">Close</button>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Salesforce Admin/Developer</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">Full Time</h6>
                                    <p class="card-text">Atlanta - GA&nbsp;
                                        Posted 1 day ago
                                    </p>
                                    <button type="button" class="btn btn-secondary btn-lg btn-block" data-toggle="modal"
                                        data-target="#exampleModal9">
                                        Job Description
                                    </button>
                                    <div class="modal fade" id="exampleModal9" tabindex="-1" role="dialog"
                                        aria-labelledby="exampleModalLabel9" aria-hidden="true">
                                        <div class="modal-dialog modal-xl" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel9">Job Description</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="container-fluid">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <ul>
                                                                    <li>In-depth understanding of Salesforce programming including APEX, Force.com, and VisualForce</li>
                                                                    <li>Demonstrated thought leader in SaaS solutions and technologies
                                                                    </li>
                                                                    <li>Experienced with integrations between Salesforce and multiple other platforms and technologies</li>
                                                                    <li>Strong SaaS solutions development and implementation focused on Salesforce.com</li>
                                                                    <li>Experienced and conversant in key business functional areas such as ERP, CRM and SCM</li>
                                                                    <li>Strong client-facing communication skills</li>
                                                                    <li>Strong business analytical skills</li>
                                                                    <li>Ability to learn quickly and function as a positive and creative member of a team</li>
                                                                    <li>Experience with a top-tier web software and/or large consulting firm</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-dismiss="modal">Close</button>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Full Stack Developer (Angular)</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">Full Time</h6>
                                    <p class="card-text">West Palm Beach - FL&nbsp;
                                        Posted 2 weeks ago
                                    </p>
                                    <button type="button" class="btn btn-secondary btn-lg btn-block" data-toggle="modal"
                                        data-target="#exampleModal1">
                                        Job Description
                                    </button>
                                    <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog"
                                        aria-labelledby="exampleModalLabel1" aria-hidden="true">
                                        <div class="modal-dialog modal-xl" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel1">Job Description</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="container-fluid">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <ul>
                                                                    <li>Minimum 5 years professional developer experience.</li>
                                                                    <li>To help with migration from Windows 2008 to
                                                                        Windows 2016
                                                                    </li>
                                                                    <li>Work remotely (or at my office space) but must be located in a US Timezone.</li>
                                                                    <li>Highly skilled with HTML5, CSS3, and JS</li>
                                                                    <li>Highly skilled with Angular</li>
                                                                    <li>Proficient with ASP.NET MVC and WebAPI</li>
                                                                    <li>With Manufacturing industry knowledge</li>
                                                                    <li>Proficient with MSSQL</li>
                                                                    <li>Experience with Ionic mobile framework or Cordova based mobile apps a plus</li>
                                                                    <li>Experience with iOS or Android native development a plus</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-dismiss="modal">Close</button>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Network Engineering</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">Contract, Full Time</h6>
                                    <p class="card-text">Columbus - OH&nbsp;
                                        Posted 1 day ago
                                    </p>
                                    <button type="button" class="btn btn-secondary btn-lg btn-block" data-toggle="modal"
                                        data-target="#exampleModal2">
                                        Job Description
                                    </button>
                                    <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog"
                                        aria-labelledby="exampleModalLabel2" aria-hidden="true">
                                        <div class="modal-dialog modal-xl" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel2">Job Description</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="container-fluid">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <ul>
                                                                    <li>Perform network maintenance and system upgrades including service packs, patches, hot fixes and security configurations.</li>
                                                                    <li> Very good Understanding of TCP/IP and troubleshooting of Network Connectivity
                                                                    </li>
                                                                    <li>Building a product is a highly collaborative effort, and as such, a strong team player with a commitment to perfection is required.</li>
                                                                    <li>Ideal candidate should have experience Routing & Switching & Security.</li>
                                                                    <li>experienced in routing and switching the candidate should possess skills in the areas of troubleshooting enterprise networks with the following technologies.</li>
                                                                    <li>3+ years of experience in computer networks</li>
                                                                    <li>Diagnose and fix bugs and performance bottlenecks for performance that feels native.</li>
                                                                    <li>Routing – Static routes, EIGRP, BGP and OSPF</li>
                                                                    <li>Maintain code and write automated tests to ensure the product is of the highest quality.</li>
                                                                    <li> Liaise with TAC, vendors and other IT personnel for problem resolution-ability to work and effectively prioritize in a highly dynamic work environment that includes a global focus.</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-dismiss="modal">Close</button>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Data Science</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">Contract, Full Time</h6>
                                    <p class="card-text">New York - NY&nbsp;
                                        Posted 1 day ago
                                    </p>
                                    <button type="button" class="btn btn-secondary btn-lg btn-block" data-toggle="modal"
                                        data-target="#exampleModal3">
                                        Job Description
                                    </button>
                                    <div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog"
                                        aria-labelledby="exampleModalLabel3" aria-hidden="true">
                                        <div class="modal-dialog modal-xl" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel3">Job Description</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="container-fluid">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <ul>
                                                                    <li>Bachelor’s degree with 3 plus years of Data Sceince experience.</li>
                                                                    <li>Proven experience in taking highly conceptual business needs and translate into a solution that can be effectively implemented.</li>
                                                                    <li>You need to have knowledge of various programming languages, such as Python, Perl, C/C++, SQL, and Java, with Python being the most common 
                                                                           coding language required in data science roles.</li>
                                                                    <li>Proficiency with Microsoft .net framework and MS SQL up to latest version development.</li>
                                                                    
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-dismiss="modal">Close</button>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Machine Learning</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">Full Time</h6>
                                    <p class="card-text">Jersey City - NJ&nbsp;
                                        Posted 1 day ago
                                    </p>
                                    <button type="button" class="btn btn-secondary btn-lg btn-block" data-toggle="modal"
                                        data-target="#exampleModal4">
                                        Job Description
                                    </button>
                                    <div class="modal fade" id="exampleModal4" tabindex="-1" role="dialog"
                                        aria-labelledby="exampleModalLabel4" aria-hidden="true">
                                        <div class="modal-dialog modal-xl" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel4">Job Description</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="container-fluid">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <ul>
                                                                    <li>Should have at least 3 years of work experience in Machine Learning</li>
                                                                    <li>Strong hands on experience on Python, Pyspark and R programming language</li>
                                                                    <li> Hands on experience in identifying the right algorithm / technique to solve a particular business problem</li>
                                                                    <li>Experience in building and scaling models for sensor/time series data</li>
                                                                    <li>Experience in building products</li>
                                                                    <li>Experience in building predictive maintenance algorithms</li>
                                                                    <li>Should be able to guide a team of developers</li>
                                                                    <li>Excellent verbal and written communication skills. Demonstrated proficiency in technical writing is required.</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-dismiss="modal">Close</button>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Cyber Security</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">Contract, Full Time</h6>
                                    <p class="card-text">San Antonio - TX&nbsp;
                                        Posted 1 day ago
                                    </p>
                                    <button type="button" class="btn btn-secondary btn-lg btn-block" data-toggle="modal"
                                        data-target="#exampleModal5">
                                        Job Description
                                    </button>
                                    <div class="modal fade" id="exampleModal5" tabindex="-1" role="dialog"
                                        aria-labelledby="exampleModalLabel5" aria-hidden="true">
                                        <div class="modal-dialog modal-xl" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel5">Job Description</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="container-fluid">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <ul>
                                                                    <li>Enhance security technical controls deployed for a worldwide enterprise</li>
                                                                    <li>Should have minimum 3+ years of experience in cyber security</li>
                                                                    <li>Bachelor’s degree in computer science or equivalent relevant academic qualifications.</li>
                                                                    <li>Setting up, maintaining, and performing test automation frameworks and building test scenarios and acceptance tests</li>
                                                                    <li>Understanding the flow of code and how it interacts with different components</li>
                                                                    <li>Train and Mentor QA team on agile processes; must be available to train the team as required</li>
                                                                    <li>Work with the development team to understand the application architecture in order to access risk and integration points in order to develop good test cases</li>
                                                                    <li>Ensure protection of networks, systems and applications by enforcement of DLP security policy and through use of systematic DLP event analysis.</li>
                                                                    <li>Manage multiple mid-sized projects in a fast-paced, dynamic environment</li>
                                                                    <li>Managing the final quality on production release</li>
                                                                    <li>Knowledge of Azure Firewall, Load Balancer, Virtual Network, VDI and Bastion</li>
                                                                    <li>Engineers, configures, deploys, and maintains Web Application Firewall solutions</li>

                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-dismiss="modal">Close</button>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Java Developer</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">Contract, Full Time</h6>
                                    <p class="card-text">Minneapolis - MN&nbsp;
                                        Posted 1 day ago
                                    </p>
                                    <button type="button" class="btn btn-secondary btn-lg btn-block" data-toggle="modal"
                                        data-target="#exampleModal6">
                                        Job Description
                                    </button>
                                    <div class="modal fade" id="exampleModal6" tabindex="-1" role="dialog"
                                        aria-labelledby="exampleModalLabel6" aria-hidden="true">
                                        <div class="modal-dialog modal-xl" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel6">Job Description</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="container-fluid">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <ul>
                                                                    <li>3+ years Java and server side development.</li>
                                                                    <li>Strong problem solving and computer science fundamentals.</li>
                                                                    <li>Strong database fundamentals, understanding of relational and NoSQL tradeoffs.</li>
                                                                    <li>Growth mindset, excellence attitude.</li>
                                                                    <li>Azure is big plus.</li>
                                                                    <li>Other public cloud platforms such as Google Cloud, AWS, etc.</li>
                                                                    <li>Git.</li>
                                                                    <li>Great presentation skills.</li>
                                                                    <li>Design and develop reliable number crunching software.</li>
                                                                    <li>Produce high quality maintainable code.</li>
                                                                    <li>Collaborate with other team members through peer programming and code reviews.</li>
                                                                    <li>Understand fixed income business logic, a bigger picture and core ideas behind the software.</li>
                                                                    <li>Contribute to the overall system design.</li>
                                                                    <li>Advocate toward best engineering practices.</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-dismiss="modal">Close</button>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    <!-- Go To Top
	============================================= -->
    <div id="gotoTop" class="icon-angle-up"></div>

    <!-- External JavaScripts
	============================================= -->
    <script src="js/jquery.js"></script>
    <script src="js/plugins.js"></script>

    <!-- Footer Scripts
	============================================= -->
    <script src="js/functions.js"></script>

</body>

</html>