<!DOCTYPE html>
<html>
    <body>
		<section id="page-title" class="page-title-mini">

			<div class="container clearfix">
				<h1>REFERRAL</h1>
				<span>Everything you need to know about our Company</span>
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="#">Home</a></li>
					<li class="breadcrumb-item"><a href="#">Careers</a></li>
					<li class="breadcrumb-item active" aria-current="page">Refferal</li>
				</ol>
			</div>
		</section>	
<section id="content">
                      <div class="content-wrap">
                              <div class="container clearfix">
                                  <div class="welcome-content-career-box half-contnet-with-img">
                <h2>Earn Bonus for Consultant and Client Referrals</h2>
                <p>CloudFen is a great place to work, and we want you to have every opportunity to share our success. Earn a bonus when you refer a friend or associate who becomes a CloudFen consultant, or provide a business lead that results in staffing assignments.</p>
                <h2>Client Referral Program*</h2>
                <p>CloudFen pays bonuses for information on new projects and clients. Provide the following information to register project referrals with CloudFen:</p>
                <ul class="introducing-list-panel full-content half-width-s">
                    <li>Company name and location.</li>
                    <li>Project manager or project in need of support.</li>
                    <li>Technical details on the project (an introduction to the project manager increase your opportunity for reward). </li>
                    <li>We are an Equal Employment Opportunity &amp; Affirmative Action employer and our employees come from a wide range of cultural and geographic backgrounds.</li>
                </ul>

            </div>
                              </div>
                       </div>
</section>
	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

	<!-- External JavaScripts
	============================================= -->
	<script src="js/jquery.js"></script>
	<script src="js/plugins.js"></script>

	<!-- Footer Scripts
	============================================= -->
	<script src="js/functions.js"></script>

</body>
</html>