<!DOCTYPE html>
<html>
    <body>

		<section id="page-title" class="page-title-mini">

			<div class="container clearfix">
				<h1>HEALTHCARE</h1>
				<span>Everything you need to know about our Company</span>
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="#">Home</a></li>
					<li class="breadcrumb-item"><a href="#">Industries</a></li>
					<li class="breadcrumb-item active" aria-current="page">Healthcare</li>
				</ol>
			</div>

		</section>	

		<section id="content" style="margin-bottom: 0px;">

			<div  class="content-wrap pt-0">

				<div class="container clearfix">
					<div class="col_three_fifth topmargin-sm bottommargin padd-t-60">
						<img data-animate="fadeInLeftBig" src="assets\images\health.jpg" alt="Imac" class="fadeInLeftBig animated">
					</div>

					<div class="col_two_fifth topmargin-sm bottommargin-lg col_last">

						<div class="heading-block topmargin">
							<!-- <h2>CLOUDFEN  -  Customers reliable partner</h2> -->
						</div>

						<p>Cloudfen emphasizes in understanding customer requirements. We help people pursue oppurtunities beyond boundaries is through highly skilled engineers.</p>
						<p>Sound techninal knowledge and expertise in advanced software tools,frame works and technologies are our strength for reliable engagement</p>
					</div>

				<div class="line"></div>

				</div>
			</div>

		</section>
			<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

	<!-- External JavaScripts
	============================================= -->
	<script src="js/jquery.js"></script>
	<script src="js/plugins.js"></script>

	<!-- Footer Scripts
	============================================= -->
	<script src="js/functions.js"></script>

</body>
</html>